@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 
p {
  font-size: 1rem; 
  line-height: 1.5rem; 
}
  

*/

ul {
  list-style-type: disc; /* ใช้จุดเป็นสัญลักษณ์ของรายการ */
  margin-left: 20px; /* ระยะห่างจากขอบซ้าย */
}

li {
  margin-bottom: 20px; /* ระยะห่างระหว่างรายการ */
}

h1 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 700;
}

body {
  /* Slate-900 */
  color: #0f172a;
  margin: 0px;
}